.about-image {
    padding-left: 0;
}

.about-image> img {
    float: left;
    width: inherit;
    height: 700px;
    object-fit: cover;
    object-position: center;
}

.about-row {
    flex-direction: row;
}

.about-title {
    margin-top: 50px;
}

.about-text {
    text-align: left;
    padding: 0 10% !important;
}

/*Tablet screen*/
@media only screen and (max-width: 992px) {
    .text {
        padding: 0 95px;
    }

    .about-image>img {
        width: 100%;
        height: 375px;
    }

    .about-title {
        margin-top: 40px;
    }
}

/*Mobile Screen*/
@media only screen and (max-width: 768px) {
    .about-row {
        flex-direction: column;
    }
    
    .text {
        padding: 16px;
    }

    .about-image {
        max-width: 100%;
        padding: 0;
    }

    .about-text {
        max-width: 100%;
        padding: 0 16px !important;
    }
}