.contact-row {
    flex-direction: column;
    text-align: center;
}

.booking-list {
    list-style: none;
    margin-bottom: 15px;
}

.booking-list-ul {
    padding: 0;
}

.title {
    font-size: 20px;
}

.contacts {
    margin-bottom: 0;
}

.management {
    margin-bottom: 32px;
}

.email-link:hover,
.email-link:active {
    color: #69858F;
    text-decoration: line-through !important;
}

/*Tablet screen*/
@media only screen and (max-width: 992px) {
    .title,
    .contacts,
    .email-link {
        font-size: 16px;
    }

    .management {
        margin-bottom: 24px;
    }
}

/*Mobile Screen*/
@media only screen and (max-width: 768px) {
    .title,
    .contacts,
    .email-link {
        font-size: 14px;
    }
}