#root::-webkit-scrollbar {
    display: none;
}

#root {
    overflow: hidden;
}

.row {
    margin: 100px 0 0;
}

/*Typography*/
.heading {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 32px;
}

.p1 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.p2 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}

/*Color*/
.primary {
    color: #69858F;
}

.secondary {
    color: #3D3D3D;

}

.btn-color {
    background-color: #A58E52;
}

.white {
    color: #FFFFFF;
}

/*Tablet screen*/
@media only screen and (max-width: 992px) {
    .heading {
        font-size: 40px;
        line-height: 30px;
    }

    .p1 {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .p2 {
        font-size: 14px;
        line-height: 24px;
    }

    .row {
        margin: 80px 0 0;
    }
}

/*Mobile Screen*/
@media only screen and (max-width: 768px) {
    .heading {
        font-size: 30px;
        line-height: 20px;
    }

    .p1 {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .p2 {
        font-size: 12px;
        line-height: 22px;
    }

    .row {
        margin: 70px 0 0;
    }
}