.video-row,
.tour-row {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.video {
    width: inherit;
    height: 612px;
}

.video-wrapper,
.tour-wrapper {
    display: flex;
}

.tour-widget {
    width: inherit;
    height: 816px;
    background-color: #E5E5E5;
}

/*Tablet screen*/
@media only screen and (max-width: 992px) {
    .tour-widget {
       height: 628px; 
    }

    .video {
        height: 500px;
    }
}

/*Mobile Screen*/
@media only screen and (max-width: 768px) {
    .video-wrapper,
    .tour-wrapper {
        flex-direction: column;
    }

    .col-10 {
        max-width: 100%;
    }

    .video {
        height: 300px;
    }

    .tour-widget {
        width: 100%;
        min-height: 347px;
    }
}