.video-row,
.tour-row {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.video {
    width: inherit;
    height: 612px;
}

.video-wrapper,
.tour-wrapper {
    display: flex;
}

.tour-widget {
    width: inherit;
    height: 816px;
    background-color: #E5E5E5;
    /* margin: auto; */
}

/*Tablet screen*/
@media only screen and (max-width: 992px) {

    .video-row,
    .tour-row {
        /* flex-direction: inherit; */
    }

    .video {
        width: 90%;
        height: 500px;
    }
}