.headline {
    font-family: Times;
    font-style: italic;
    font-weight: bold;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: normal;
    color: #69858F;
    margin-top: 50px;
}

.title {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
}

.btn-listen {
    width: 175px;
    height: 48px;
    border-width: 0;
    background: #AC9455;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    color: #FFFFFF;
}

.image {
    float: right;
    width: inherit;
    height: 795px;
    object-fit: cover;
    object-position: center;
}

.col-7 {
    padding: 0 !important;
    overflow: hidden;
}

.col-5 {
    text-align: center;
}

/*Tablet screen*/
@media only screen and (max-width: 992px) {
    .headline {
        font-size: 60px;
        line-height: 50px;
    }

    .title {
        font-size: 16px;
    }

    .btn-listen {
        width: 141px;
        height: 38px;
        font-size: 14px;
        line-height: 14px;
    }
}

/*Mobile Screen*/
@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-5,
    .col-7 {
        max-width: 100% !important;
    }

    .col-5 {
        top: 35px;
    }

    .headline {
        font-size: 40px;
        line-height: 30px;
    }

    .title {
        font-size: 14px;
    }

    .btn-listen {
        width: 107px;
        height: 28px;
        font-size: 12px;
        line-height: 12px;
    }
}